{% block header %}
    <header>
        <img src="{{ asset('web/img/logo.png') }}" alt="Logo">
        <h1>Restaurant</h1>
        <ul>
            <li><a href="/">Retour à l'accueil</a></li>
            <li><a href="/admin/dish">Gestion plats</a></li>
            <li><a href="/admin/allergen">Gestion allergènes</a></li>
            <li><a href="/admin/category">Gestion catégories</a></li>
            <li><a href="/admin/user">Gestion équipe</a></li>
            <li><a href="/admin/clientOrder">Gestion commandes</a></li>
        </ul>
    </header>
{% endblock %}