{% block header %}
    <header>
        <img src="{{ asset('web/img/logo.png') }}" alt="Logo">
        <h1>Restaurant</h1>
        <ul>
            <li><a href="/">Acceuil</a></li>
            <li><a href="/equipe">Equipe</a></li>
            <li><a href="/carte">Carte</a></li>
        </ul>
    </header>
{% endblock %}