{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class=titleAdmin>Create new Category</h1>
<div class="adminDel">
    {{ include('category/_form.html.twig') }}</div>

    <a class="adminBtn" href="{{ path('category_index') }}">back to list</a>
{% endblock %}
