{% extends 'admin/admin.html.twig' %}

{% block title %}New ClientOrder{% endblock %}

{% block content %}
    <h1 class=titleAdmin>Create new ClientOrder</h1>
<div class="adminDel">
    {{ include('client_order/_form.html.twig') }}</div>

    <a class="adminBtn"  href="{{ path('client_order_index') }}">back to list</a>
{% endblock %}
