{% extends 'admin/admin.html.twig' %}

{% block title %}Edit Dish{% endblock %}

{% block content %}
    <h1 class=titleAdmin>Edit Dish</h1>

    <div class="adminDel">
        {{ include('dish/_form.html.twig', {'button_label': 'Update'}) }}</div>

    <a class="adminBtn" href="{{ path('dish_index') }}">back to list</a>

    <div class="adminDel">
    {{ include('dish/_delete_form.html.twig') }}</div>
{% endblock %}
